.color-select {
  margin-bottom: 25px;
  &_box {
    display: flex;
    gap: 12.5px;
    button {
      margin-top: 0px;
      margin-bottom: 12.5px;
    }
  }
  &_color-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 12.5px;
  }
  &_color-box {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition:
      transform 0.2s,
      border-color 0.2s;
    border: none;
    box-sizing: border-box;
    @media (max-width: 768px) {
      height: 46.14px;
      width: 46.14px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      height: 50px;
      width: 50px;
      border-radius: 4px;
      border-width: 2px;
      border-color: transparent;
      box-sizing: border-box;
      border-style: dashed;
      transition:
        transform 0.2s,
        border-color 0.2s;
      @media (max-width: 768px) {
        height: 46.14px;
        width: 46.14px;
      }
    }
    &:hover {
      transform: scale(1.1);
    }
    &.selected {
      transform: scale(0.8);
      &::after {
        border-color: black;
        transform: scale(1.3);
      }
    }
  }
}
